@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 30, 41, 59;
  /* Slate-800 */
  --background-start-rgb: 248, 250, 252;
  /* Slate-50 */
  --background-end-rgb: 248, 250, 252;
  /* Slate-50 */
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  background-image: linear-gradient(135deg, #e2e8f0 0%, #cbd5e1 100%);
  background-attachment: fixed;
}

button {
  pointer-events: auto;
  cursor: pointer;
}